h1 {
	font-size: 30px;
	color: #454d98;
	font-family: Rockwell,"Courier Bold",Courier, Georgia, 
	"Times New Roman". serif;
	margin: 0px;
}

p {
	margin-top: 0px;
	margin-bottom: 15px;
	line-height: 1.4;
}

.container{
	background: white;
	width: 70%;
	max-width: 1000px;
	margin:0 auto;
	